{{ $curLanguageName := site.Language.LanguageName }}
<header>
  <div class="header-title-wrapper">
    <div class="header-title">
      <a href="{{ site.LanguagePrefix }}/"
        >{{ or .Site.Params.headTitle .Site.Params.author.name }}</a
      >
    </div>
    <a href="#" id="theme-toggle" title="切换主题">
      <i class="fas fa-moon"></i>
    </a>
  </div>
  <div class="header-subtitle">{{ .Site.Params.Description }}</div>
</header>
<div class="row end-md header-items">
  {{ range .Site.Params.socials }}
  <div class="header-item">
    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
  </div>
  {{ end }}
</div>
<div class="header-line"></div>
